.principal__banner{
    width: 100%;
    height: 270px;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.principal__banner__experiencia{
    width: 100%;
    height: 270px;
    background-image: url("../img/BannerExperiencia.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.principal__banner__titulo{
    font-family: var(--fonte-titulos);
    font-size: 32px;
    font-weight: 400;
    color: var(--cinza);
    line-height: 42px;
    text-align: center;
    position: relative;
    top: calc(50% - 32px);
}

/* ########## MEDIA SCREEN 768px ##########*/

@media screen and (min-width: 768px) {
    .principal__banner{
        height: 384px;
        background-image: url("../img/bannerMedio.png");
    }

    .principal__banner__experiencia{
        height: 384px;
        background-image: url("../img/BannerExperienciaMedio.png");
    }

    .principal__banner__titulo{
        font-size: 64px;
        line-height: 83px;
        top: calc(50% - 64px);
    }
    
}

/* ########## MEDIA SCREEN 1440px ##########*/

@media screen and (min-width: 1440px) {
    .principal__banner{
        height: 407px;
        background-image: url("../img/bannerGrande.png");
    }

    .principal__banner__experiencia{
        height: 384px;
        background-image: url("../img/BannerExperienciaGrande.png");
    }

    .principal__banner__titulo{
        margin: auto;
        width: 40%;
    }
    
}