/* Dúvidas: 
As classes abaixo compartilham de uma configuração igual, é melhor do jeito que está? Ou criando uma classe específica para essa configuração como "principal__banner" e cada 
página ter sua própria classe extra para alterar o background-image ?

*/

.principal__banner, .principal__banner__experiencia, .principal__banner__mapaSetores, .principal__banner__informacoes, .principal__banner__ingresso, .principal__banner__ingressoComprado{
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
}
.principal__banner{
    background-image: url("../img/banner.png");
}

.principal__banner__experiencia{
    background-image: url("../img/bannerExperiencia.png");
}

.principal__banner__mapaSetores{
    background-image: url("../img/bannerMapa.png");
}

.principal__banner__informacoes{
    background-image: url("../img/bannerInfos.png");
    height: 281px;
}

.principal__banner__ingresso{
    background-image: url("../img/bannerIngresso.png");
    height: 281px;
}

.principal__banner__ingressoComprado{
    background-image: url("../img/bannerIngressoComprado.png");
    height: 281px;
}

.principal__banner__titulo{
    font-family: var(--fonte-titulos);
    font-size: 32px;
    font-weight: 400;
    color: var(--cinza);
    line-height: 42px;
    text-align: center;
    position: relative;
    top: calc(50% - 32px);
}

/* ########## MEDIA SCREEN 768px ##########*/

@media screen and (min-width: 768px) {

    .principal__banner, .principal__banner__experiencia, .principal__banner__mapaSetores, .principal__banner__informacoes, .principal__banner__ingresso, .principal__banner__ingressoComprado{
        height: 384px;
    }

    .principal__banner{
        background-image: url("../img/bannerMedio.png");
    }

    .principal__banner__experiencia{
        background-image: url("../img/bannerExperienciaMedio.png");
    }

    .principal__banner__mapaSetores{
        background-image: url("../img/bannerMapaMedio.png");
    }

    .principal__banner__informacoes{
        background-image: url("../img/bannerInfosMedio.png");
    }

    .principal__banner__ingresso{
        background-image: url("../img/bannerIngressoMedio.png");
    }

    .principal__banner__ingressoComprado{
        background-image: url("../img/bannerIngressoCompradoMedio.png");
    }

    .principal__banner__titulo{
        font-size: 64px;
        line-height: 83px;
        top: calc(50% - 32px);
    }

    .principal__banner__titulo__home{
        top: calc(50% - 64px);
    }
    
}

/* ########## MEDIA SCREEN 1440px ##########*/

@media screen and (min-width: 1440px) {
    .principal__banner, .principal__banner__experiencia, .principal__banner__mapaSetores, .principal__banner__informacoes, .principal__banner__ingresso, .principal__banner__ingressoComprado{
        height: 407px;
    }

    .principal__banner{
        background-image: url("../img/bannerGrande.png");
    }

    .principal__banner__experiencia{
        background-image: url("../img/bannerExperienciaGrande.png");
    }

    .principal__banner__mapaSetores{
        background-image: url("../img/bannerMapaGrande.png");
    }
    
    .principal__banner__informacoes{
        background-image: url("../img/bannerInfosGrande.png");
    }
    
    .principal__banner__ingresso{
        background-image: url("../img/bannerIngressoGrande.png");
    }

    .principal__banner__ingressoComprado{
        background-image: url("../img/bannerIngressoCompradoGrande.png");
    }

    .principal__banner__titulo{
        margin: auto;
    }

    .principal__banner__titulo__home{
        width: 40%;
    }
    
}