.rodape{
    background-color: var(--amarelo);
    text-align: center;
    font-family: var(--fonte-textos);
    font-size: 20px;
}

.rodape__links{
    padding: 24px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.rodape__links__logo{
    width: 233.9px;
    height: 64px;
}

.rodape__links__redesSociais, .rodape__copyright__texto{
    line-height: 40px;
}

.rodape__links__redes{
    display: flex;
    gap: 8px;
}

.rodape__copyright{
    padding-bottom: 48px;
}

/* ########## 768 px ########## */

@media screen and (min-width: 768px){

    .rodape__links{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .rodape__links__imagem{
        width: 100%;
    }
}

/* ########## 1440 px ########## */

@media screen and (min-width: 1440px){

    .rodape{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 24px 120px;
    }

    .rodape__links{
        justify-content: left;
    }
}