/* Cabecalho de navegacao */
.cabecalho__menu{
    display: flex;
    background-color: var(--container-color);
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

.cabecalho__menu__logo{
    margin-left: 1.5em;
}

.cabecalho__menu__botao{
    margin-right: 1.5em;
    transition: 0.25s;
}

.cabecalho__menu__botao__on{
    transform: rotate(90deg);
    transition: 0.25s;
}

.cabecalho__menu__lista{
    display: none;
}

/* Menu Hamburguer */
.menu__hamburguer{
    position: absolute;
	left: -100vw;
	transition: 0.75s;
    z-index: 1000;
}

.menu__hamburguer__exibido{
    display: block;
	position: absolute;
	transition: 0.25s;
    left: calc(100% - 193px);
}

.menu__hamburguer__lista{
    background-color: var(--container-color);
    width: 193px;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menu__hamburguer__linha{
    padding: 19px 0;
    width: 161px;
    border-bottom: 1px solid var(--branco);
    text-align: center;
}

.menu__hamburguer__linha:nth-child(5n){
    border-bottom: none;
}

.menu__hamburguer__link{
    text-decoration: none;
    color: var(--branco);
    text-align: center;   
}

.menu__hamburguer__tema{
    color: var(--branco);
    border: none;
    background-color: transparent;
}

.menu__hamburguer__texto{
    font-family: var(--fonte-textos);
    font-weight: 700;
    font-size: 20px;
}

.cabecalho__menu__texto__selecionado{
    text-decoration-line: underline;
}

/* ########## MEDIA SCREEN 768px ##########*/

@media screen and (min-width: 768px) {

    .cabecalho__menu{
        height: 200px;
        flex-wrap: wrap;
    }

    .cabecalho__menu__botao{
        display: none;
    }

    .cabecalho__menu__logotipo{
        margin: auto;
    }

    .cabecalho__menu__lista{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 2em;
    }

    .cabecalho__menu__link{
        text-decoration: none;
        font-family: var(--fonte-textos);
        font-size: 20px;
        font-weight: 700;
        color: var(--branco);
    }
}

/* ########## MEDIA SCREEN 1440px ##########*/

@media screen and (min-width: 1440px) {

    .cabecalho__menu{
        height: 128px;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 100px
    }

    .cabecalho__menu__lista{
        justify-content: flex-end;
        margin-bottom: 0;
        gap: 2em;
        margin-right: 8em;
    }

    .cabecalho__menu__logo{
        margin-left: 8em;
    }
    
}
