.principal__formulario{
    display: flex;
    flex-direction: column;
}

.principal__formulario__titulo{
    font-family: var(--fonte-titulos);
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    margin: 32px 24px 48px 24px;
    color: var(--cinza);
    text-align: center;
}

.principal__formulario__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 24px;
}

.principal__formulario__container__label{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: var(--cinza);
}

.form__input{
    border: none;
    margin: 8px 0 32px 0;
    width: 100%;
    height: 48px;
    padding-left: 10px;
    box-sizing: border-box;
}

.botao__ingresso{
    width: 164px;
}

.principal__banner__ingressoComprado .principal__banner__titulo{
    margin: 0 24px;
}

.principal__conteudo__texto__container{
    padding: 64px 24px 32px 24px;
}

.principal__conteudo__texto__ingresso{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
}

.principal__conteudo__ingresso{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 24px;
    background: var(--gradiente-verao);
    padding: 32px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.principal__conteudo__ingresso__superior{
    display: flex;
    justify-content: space-between;
}

.principal__conteudo__ingresso__superior__logo{
    width: 117px;
    height: 32px;
}

.principal__conteudo__ingresso__superior__icone{
    width: 32px;
    height: 32px;
}

.principal__conteudo__ingresso__centro__qrcode-Medio, .principal__conteudo__ingresso__centro__qrcode-Grande{
    display: none;
}

.principal__conteudo__ingresso__centro__qrcode{
    display: block;
    width: 248px;
    height: 190px;
    margin: auto;
}

.principal__conteudo__ingresso__inferior ul li{
    font-size: 20px;
    color: var(--cinza);
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    padding-top: 16px;
}

.principal__conteudo__ingresso__comprado{
    padding-bottom: 40px;
}

/* ########## 768 px ########## */

@Media screen and (min-width: 768px){

    .principal__formulario__titulo{
        font-size: 48px;
        line-height: 42px;
        margin: 48px 60px;
    }

    .principal__formulario__container{
        margin: 0 60px;
    }

    .principal__conteudo__texto__ingresso{
        margin: 0 60px;
    }

    .principal__conteudo__ingresso__centro__qrcode-Medio{
        display: block;
        margin: auto;
    }

    .principal__conteudo__ingresso__centro__qrcode{
        display: none;
    }
}

/* ########## 1440 px ########## */

@Media screen and (min-width: 1440px){

    .principal__formulario{
        align-items: center;
    }

    .principal__formulario__container{
        width: 795px;
    }

    .principal__formulario__container__baixo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .principal__formulario__container__label-baixo1{
        grid-row: 1 / 1;
        
    }

    .principal__formulario__container__label-baixo2{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    .form__input-baixo1{
        grid-row: 2 / 2;
        margin-right: 24px;
        box-sizing: border-box;
    }

    .form__input-baixo2{
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    .principal__conteudo__ingresso__centro__qrcode-Medio{
        display: none;
    }

    .principal__conteudo__ingresso__centro__qrcode-Grande{
        display: block;
    }

    .principal__conteudo__ingresso{
        box-sizing: border-box;
        width: 792px;
        height: 350px;
        margin: 0 324px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 32px 48px;
    }

    .principal__conteudo__ingresso__superior{
        grid-column: 1 / 2 span;
    }

    .principal__conteudo__ingresso__centro{
        grid-row: 2 / 2;
        width: 189px;
        padding: 0;
    }

    .principal__conteudo__ingresso__inferior{
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    .principal__conteudo__ingresso__inferior ul li{
        text-align: left;
    }

    .principal__conteudo__ingresso__inferior .principal__conteudo__texto__ingresso{
        text-align: left;
        margin: 0;
    }
    
}