/* Importando as outras páginas CSS */
@import url("header.css");
@import url("banner.css");
@import url("content.css");
@import url("footer.css");
@import url("experiencia.css");
@import url("mapaSetores.css");
@import url("informacoes.css");
@import url("ingresso.css");

/* Declarando variáveis de uso comúm, para cores, fontes e outros estilos */
:root{
    --fonte-titulos: 'Calistoga';
    --fonte-textos: 'Raleway';
    --fonte-icon: 'Material Icons';
    --container-color: #2E7BA2;
    --azul-hover: #519EC5;
    --branco: #FFFFFF;
    --text-color: #444444;
    --button-shadow: #444444;
    --h3-background: #DF9010;
    --footer-background: #FACF9D;
    --azul-legenda: #0E7DF1;
    --azul-claro: #C8DEEF;
    --magenta-legenda: #FE016E;
    --verde-legenda: #01A89E;
    --roxo-legenda: #3F51B5;
    --background-color: linear-gradient(#BFDAE6 0%, #FCF0DD 50% , #FACF9D 100%);
}

/* Estilo do Body padrão em todas as páginas */
body{
    font-family: var(--fonte-textos);
    color: var(--text-color);
}